.opc-block-summary .table-totals tbody tr.totals th
{
  padding-left: 20px;
}

.opc-block-summary .table-totals tbody tr.totals td
{
  padding-right: 20px;
}

.opc-block-shipping-information
{
  padding: 0px;
}

.opc-block-shipping-information .shipping-information-title
{
  padding: 5px 20px;
  background: var(--main);
  color: white;
}

.opc-block-shipping-information .shipping-information-content
{
  padding: 0px 20px;
}


.opc-block-shipping-information .shipping-information-title .action-edit::before
{
  right: 20px;
  margin-right: 20px;
  color: white;
}


.mark
{
  background: none;
}
