.fieldset > .field .control.establish::before
{
  content: 'Established';
}

.fieldset > .field .control.employee::before
{
  content: 'Employees Count';
}

.fieldset > .field.field-establish,
.fieldset > .field.field-employee
{
  float: left;
  width: 100%;
}

.fieldset.corp-info,
.fieldset.com-struct
{
  float: none;
}
.fieldset .rad-container .rad-wrapper
{
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.fieldset .rad-container .rad-wrapper label
{
  vertical-align: middle;
  margin: 0;
  font-size: 140%;
  font-weight: 500;
}

.fieldset .rad-container .rad-wrapper input.rad-input
{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
}

.fieldset .rad-container .rad-wrapper .rad-btn
{
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-color: #ccc;
  border-radius: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  vertical-align: middle;
  transition: 200ms ease;
  margin-right: 5px;
}

.fieldset .rad-container .rad-wrapper .rad-btn.active
{
  border-color: var(--accent);
}

.fieldset .rad-container .rad-wrapper .rad-btn.active ~ label
{
  color: var(--accent);
}

.fieldset .rad-container .rad-wrapper .rad-btn.active::before
{
  background: var(--accent);
  width: 60%;
  height: 60%;
  opacity: 1;
}

.fieldset .rad-container .rad-wrapper .rad-btn::before
{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  border-radius: 100%;
  opacity: 0;
  background: transparent;
  transition: 300ms ease;
}

.fieldset.distform-question-container .distform-question-wrapper
{
  margin-bottom: 30px;
}

.fieldset.distform-question-container .distform-question-wrapper p
{
  font-size: 120%;
}

.fieldset.distform-question-container
.distform-question-wrapper textarea
{
  max-height: 221.8px;
  resize: none;
  border-radius: 5px;
  transition: 200ms ease;
}

.fieldset.distform-question-container
.distform-question-wrapper textarea:focus
{
  border-color: var(--accent);
  box-shadow: 0 10px 10px rgba(0,0,0,.2);
}


.fieldset > .legend span
{
  color: var(--main);
}

.fieldset.last-fieldset
{
  margin-bottom: 0px;
}
