.prod-cat-name
{
  text-align: center;
}

h1, h2
{
  color: black;

}

.prod-cat-name h1
{
  font-size: calc(100% + 44px);
  color: black ;
}

.prod-cat-name h2
{
  font-size: 120%;
  font-weight: 400;
}


.category-banner, .category-description
{
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.category-banner img
{
  width: 100%;
}


.category-description p
{
  font-size: 120%;
  font-weight: 300;
  line-height: 32px;
}
