html
{
    font-family:Arial, Helvetica, sans-serif !important;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}

body
{
  /*font-size: 14px;*/
  font-family: Arial, Helvetica, sans-serif !important;
}

img
{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}

.breadcrumb
{
  /*margin-top: 30px;*/
}



/* Product Wrapper */
.product-details
{
  margin-top: 50px;
}

/* Prouct Image Wrapper */
/* Product Image */

.product-details .product-img .prd-img-big
{
  position: relative;
  height: 400px;
  max-height: 400px;
  min-height: 250px;
  padding: 0px 15px;
}

.product-details .product-img .prd-img-big #img-big
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 400px;
  transition: 300ms ease;
}

.product-details .product-img .thumbnails ul
{
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
  margin-top: 30px;
}

.product-details .product-img .thumbnails li
{
  display: inline-block;
  border: 1px solid grey;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  opacity: .5;
  transition: 250ms ease;
  padding: 10px 20px;
}

.product-details .product-img .thumbnails li.selected
{
  border: 1px solid #00ACC1;
  opacity: 1;
}


.product-details .product-img .thumbnails li:hover
{
  opacity: .8;
}

.product-details .product-img .thumbnails img
{
  height: 50px;
  width: auto;
}
/* End of Product Image */
/* ############################ */





/* ############################ */
/* Start of Product Description */

.product-details .product-description
{
  border-radius: 5px;

}

.product-details .product-description h3
{
  font-size: 172%;
  font-weight: bold;
  color: #032259;
}

.product-details .product-description p
{
  text-align: justify;
}

/* End of Product Description */
/* ############################ */





/* ############################ */
/* Start of Product Add to cart */

.product-details .product-add-to-cart
{
  padding: 10px 25px;
  padding-top: 10px;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  transition: 250ms ease;
  font-size: calc(1em + 2px);
}


.product-details .product-add-to-cart .sub-total-wrapper
{

}

.product-details .product-add-to-cart .sub-total-wrapper label
{
  font-size: 100%;
  font-weight: normal;
}

.product-details .product-add-to-cart:hover
{
  border: 1px solid #00ACC1;
  box-shadow: 0px 6px 7px -3px rgba(0,0,0,.5);
}

.product-details .product-add-to-cart .product-quantity
{
  margin-bottom: 10px;
}


.product-details .product-add-to-cart h3
{
  color: red;
  font-weight: bold;
  font-size: calc(1em + 15px);
  margin: 0px;
  margin-top: 10px;
}

.product-details .product-add-to-cart .quantity-input
{
  padding-right: 0px;
}

.product-details .product-add-to-cart input.form-control
{
  vertical-align: middle;
  border-radius: 4px;
}

.footer-block .lists-wrapper-block .form-control
{
  padding: 1px 6px !important;
  min-height: 34px;
}

.form-control:focus
{
  box-shadow: none;
  border: 1px solid #00ACC1 !important;
}


.product-details .product-add-to-cart .quantity-btn
{
  vertical-align: middle;
  height: 34px;
}

.product-details .product-add-to-cart .quantity-btn button
{
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  color: grey;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  transition: 200ms ease;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid #CFCFCF;
  cursor: pointer;
}

.product-details .product-add-to-cart .quantity-btn button:hover
{
  color: #00ACC1;
}
.product-details .product-add-to-cart .quantity-btn button:hover
{
  border-color: #00ACC1;
  background-color: #00ACC1;
  color: white;
}
.product-details .product-add-to-cart .quantity-btn i
{
  font-size: calc(1em - 4px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
}

/* End of Product Addd to cart */
/* ############################ */






/* ############################ */
/* Start of Product table */

.product-details .product-add-to-cart .product-table
{
  /*padding: 0px 15px;*/
}

/* End of Product table */
/* ############################ */





/* ############################ */
/* Start of add-to-cart button */

.product-details .product-add-to-cart h3
{
  font-size: calc(1em + 10px);
}

.product-details .product-add-to-cart .price h5
{
  color: green;
  margin: 0px;
  font-weight: bold;
  margin-top: 10px;
  font-size: calc(1em - 4px);
}

.product-details .product-add-to-cart .price h5 span
{
  color: grey;
}

.product-details .product-add-to-cart .add-to-cart-btn button
{
  width: 100%;
  background: red;
  font-size: calc(1em + 5px);
  border-color: red;
  transition: 150ms ease;
}

.product-details .product-add-to-cart .add-to-cart-btn button i
{
  margin-right: 10px;
}

.product-details .product-add-to-cart .add-to-cart-btn button:hover
{
  background: #AB0101;
  border-color: #AB0101;
}
/* End of add-to-cart button */
/* ############################ */




.product-details .product-add-to-cart .quotes
{
  margin: 20px -15px;
}

.product-details .product-add-to-cart .quotes a
{
  color: black;
  word-wrap: break-word;
}

.product-details .product-add-to-cart .quotes h5
{
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  font-weight: 500;
}
.product-details .product-add-to-cart .quotes span
{
  vertical-align: middle;
}


.product-details .product-add-to-cart .quotes i
{
  font-size: calc(1em + 6px);
  color: #071E52;
}

.product-details .product-add-to-cart .quotes:hover i
{
  color: #00ACC1;
}


.p-alert .alert-danger
{
  font-size: 80%;
}
