@media all and (min-width:768px),
print {
  .circle-wrapper .circles
  {
    display: inline-block;
    margin-bottom: 0px;
  }

  .circle-wrapper .circles .diamond
  {
    width: 120px;
    height: 120px;
  }

  .circle-wrapper .circles .details
  {
    width: 130px;
    font-size: 100%;
  }

  .circle-wrapper
  {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    display: -webkit-flex;
    display: flex;
  }




  /* Latest new 2 */

  .latest-news-2
  {
    width: 100%;
  }

  .latest-news-2 .news-title
  {
    width: auto;
    height: auto;
  }

  .latest-news-2 .news
  {
    width: 75%;
    padding: 0px;
    padding-left: 10px;
  }

  .latest-news-2 .news p a
  {
    width: 300%;
  }

  .latest-news-2 .controls {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}



@media all and (min-width:1024px),
print {

}




@media all and (min-width:1440px),
print {


}
