@media all and (min-width:768px),
print {

  .cart-wrapper, .navbar
  {
    display: block;
  }

  .product-tabs
  {
    display: block;
  }


  .product-tabs-mobile
  {
    display: none;
  }

  .product-tabs, .tabs-content
  {
    display: block;
  }

}



@media all and (min-width:1024px),
print {

}


@media all and (min-width:1440px),
print {

}
